.header {
    z-index   : 99;
    position  : fixed;
    background: #fff;
    top       : 0;
    width     : 100%;
    z-index   : 100;
    box-shadow: 0px 5px 15px rgba(153, 153, 153, 0.15);
    padding   : 16px;

    &.header-home:not(.scrolled-down) {

        @include media-breakpoint-up(lg) {
            background: #fff;
            box-shadow: none;

            .header-nav {
                background-color: transparent;
            }

            .navbar-brand {
                color: #FFF;
            }

            .header-nav ul li a {
                color: rgb(210, 210, 210);

                &:hover,
                .current-menu-item {
                    color: $secondary;
                }
            }

            .header-nav ul li.menu-item-has-children>ul li a {
                color: #000;

                &:hover,
                .current-menu-item {
                    color: $secondary;
                }
            }

            .header-nav ul li.menu-item-has-children>ul {
                top: 80%;
            }
        }
    }

    &:hide {
        top: 0;
    }
}

@include media-breakpoint-up(lg) {
    .page-template-page-home {
        padding-top: 0 !important;
    }
}

.header>.container {
    display        : flex;
    justify-content: space-between;
}

.header-brand {
    display    : flex;
    align-items: center;
    padding    : 9.5px 0;

    @include media-breakpoint-up(lg) {
        // height: 80px;
    }

    svg,
    img {
        max-width: 204px;

        @include media-breakpoint-up(lg) {
            max-width: 250px;
        }
    }

    .navbar-brand {
        padding     : 0;
        // margin: 12px 0;
        margin-right: 20px;
        display     : flex;
        align-items : center;
        font-weight : 700;
        color       : $primary;
        font-size   : 16px;

        svg,
        img {
            margin-right: 0px;
            max-height  : 52px;
        }

        @include media-breakpoint-up(sm) {
            padding     : 0;
            margin-right: 10px;
            font-size   : 16px;

            svg,
            img {
                margin-right: 10px;
                max-height  : 62px;
            }
        }

        @include media-breakpoint-up(xl) {
            padding     : 0;
            margin-right: 20px;
            font-size   : 24px;
            line-height : 29px;

            svg,
            img {
                margin-right: 20px;
                max-height  : 82px;
            }
        }
    }
}

.header-nav {
    position        : absolute;
    top             : 100%;
    left            : -100%;
    z-index         : 99;
    background-color: #fff;
    padding         : cr(15px) 0;
    width           : 100%;
    transition      : transform 0.5s;

    .menu-open & {
        transform : translate3d(100%, 0, 0);
        overflow-y: auto;
        max-height: calc(100vh - 55px);
        border-top: solid 1px #e5e5e5;
    }

    @include media-breakpoint-up(lg) {
        transform      : none;
        position       : static;
        padding        : 0 0;
        flex           : 0 0 auto;
        width          : auto;
        height         : 100%;
        display        : flex;
        justify-content: flex-end;
    }

    .wrap_btn {
        width      : auto;
        display    : flex;
        align-items: center;

        .btn-vsm {
            margin      : 4px;
            border-width: 2px;
            white-space : nowrap;

            &:not(.btn-vsm--circle) {
                padding: 11px 0.75rem;
            }
        }
    }

    .container>ul {
        display       : flex;
        list-style    : none;
        height        : 100%;
        margin-bottom : 0;
        padding       : 0 cr(20px);
        flex-direction: column;
        padding       : 0;
        margin        : 0;

        li {
            padding: cr(20px) cr(0px);
        }

        >li+li {
            border-top: solid 1px #e5e5e5;
        }

        @include media-breakpoint-down(md) {
            &>li {

                &.active,
                &.current-menu-parent {
                    &>a {
                        color: $secondary;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            align-items   : center;
            padding       : 0 0;

            &>li {
                padding                : cr(0px) cr(0px) !important;
                margin                 : cr(0px) cr(12.5px) !important;
                // &:after {
                //     content: "";
                //     opacity: 0;
                //     bottom: 0px;
                //     transition: all 0.16s ease-in;
                //     position: absolute;
                //     width: 100%;
                //     height: 4px;
                //     background-color: $primary;
                //     left: 50%;
                //     transform: translateX(-50%);
                // }
                // &:hover {
                //     &:after {
                //         bottom: 0px;
                //         opacity: 1;
                //     }
                // }
                // &.active, &.current-menu-parent {
                //     &:after {
                //         bottom: 0px;
                //         opacity: 1;
                //     }
                // }
            }

            >li+li {
                border-top: none;
            }
        }
    }

    ul li {
        padding : cr(20px) cr(0px);
        position: relative;

        @include media-breakpoint-up(lg) {
            padding    : cr(20px) cr(7px);
            height     : 100%;
            display    : flex;
            align-items: center;
        }

        @media (min-width: 1024px) {
            padding: cr(20px) cr(10px);
        }

        @media (min-width: 1280px) {
            padding: cr(20px) cr(16px);
        }

        a {
            font-size      : 16px;
            color          : $primary;
            font-weight    : 600;
            text-decoration: none !important;

            @include media-breakpoint-up(xxl) {
                font-size: 18px;
            }

            &:hover,
            .current-menu-item {
                color: $secondary;
            }
        }

        &.menu-item-has-children {
            &>a:after {
                content   : url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 8L12 2L10.59 0.59L6 5.17L1.41 0.59L0 2L6 8Z' fill='black' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
                display   : inline-block;
                right     : 0;
                position  : absolute;
                transition: transform 0.3s;
                width     : 40px;
                text-align: center;

                @include media-breakpoint-up(lg) {
                    transform  : none;
                    position   : relative;
                    margin-left: 5px;
                    content    : none;
                }
            }

            &.open {
                color: $primary;

                >a:after {
                    transform-origin: 50% 50%;
                    transform       : rotate(180deg);
                }
            }

            @include media-breakpoint-up(lg) {
                &:hover {
                    >ul {
                        display: block;
                    }
                }
            }

            >ul {
                display   : none;
                list-style: none;
                padding   : 0;

                >li:last-child {
                    padding-bottom: 0;
                }

                @include media-breakpoint-down(md) {
                    li {
                        &.active {

                            // background-color: $primary;
                            &>a {
                                color: $secondary;
                            }
                        }
                    }
                }

                @include media-breakpoint-up(lg) {
                    min-width         : 14.5rem;
                    width             : 100%;
                    position          : absolute;
                    top               : 100%;
                    left              : 0;
                    margin-left       : 0;
                    // padding: 0 cr(16px);
                    animation-duration: 0.5s;
                    animation-name    : fadeInUpMenu;
                    background-color  : #fff;
                    box-shadow        : 0px 4px 15px rgba(0, 0, 0, 0.1);

                    // &::after {
                    //     content: "";
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 2px;
                    //     background-color: $primary;
                    //     left: 50%;
                    //     transform: translateX(-50%);
                    //     top: 0;
                    //     transition: width 0.5s;
                    // }

                    li {
                        padding: 10px 15px;

                        a {
                            font-size: 14px;
                        }

                        &:hover {
                            background-color: #FFF;

                            &>a {
                                color: $secondary;
                            }
                        }

                        &.active {
                            background-color: #FFF;

                            &>a {
                                color: $secondary;
                            }
                        }
                    }

                    >li:last-child {
                        padding-bottom: 16px;
                    }

                    li+li {
                        border-top: 1px solid #e2eaf0;
                    }
                }
            }
        }
    }
}

.header-right {
    display        : flex;
    align-items    : center;
    justify-content: center;

    .header-nav {
        .container {
            .menu {
                margin-right: -100px;

                .menu-item {
                    a {
                        color      : #3E3E3E;
                        font-weight: 400;
                        font-size  : 18px;
                    }
                }
            }
        }

        .btn {
            border-radius: 3px;
            border       : 2px solid #C52128;
            margin-left  : 10px;
            font-size    : 18px;
            font-weight  : 700;
            width        : 200px;
        }
    }
}

#hamburger-menu {
    width   : cr(45px);
    height  : cr(45px);
    position: relative;

    .bar {
        padding         : 0;
        width           : 35px;
        height          : 3px;
        background-color: $secondary;
        display         : block;
        transition      : all 0.4s ease-in-out;
        position        : absolute;
        border-radius   : 10px;
        left            : 10px;
    }

    .bar1 {
        top: 10px;
    }

    .bar2,
    .bar3 {
        top: 20.5px;
    }

    .bar4 {
        bottom: 10px;
    }

    .bar1,
    .bar4 {
        transform-origin: 5%;
    }

    &.open {
        .bar1 {
            transform: rotate(45deg);
            height   : 3px;
        }

        .bar3 {
            transform       : rotate(45deg);
            height          : 3px;
            background-color: transparent;
        }

        .bar2 {
            transform       : rotate(-45deg);
            height          : 3px;
            background-color: transparent;
        }

        .bar4 {
            transform: rotate(-45deg);
            height   : 3px;
        }
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

body {
    &.menu-open {
        overflow: hidden;
        height  : 100vh;

        &:after {
            z-index         : 10;
            content         : "";
            position        : absolute;
            height          : 230vh;
            top             : 0;
            right           : 0;
            left            : 0;
            bottom          : 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
        }

        // &.page-template-page-home {
        //     &:after {
        //         z-index: 10;
        //         content: "";
        //         position: absolute;
        //         height: 200vh;
        //         top: 0;
        //         right: 0;
        //         left: 0;
        //         bottom: 0;
        //         background-color: rgba($color: $primary, $alpha: 1);
        //     }
        // }
    }
}

#site-header {
    &.header-sticky {
        .header-brand {
            height: 100%;
        }
    }
}

// .navbar {
//     .container {
//         background-color: #FFFFFF !important;

//         .navbar-collapse {
//             .navbar-nav {
//                 font-size  : 18px;
//                 line-height: 22px;

//                 .nav-item {
//                     font-weight: 400;

//                     .nav-link {
//                         margin: 0 16px;
//                     }
//                 }

//                 .btn {
//                     background : #FFFFFF;
//                     border     : 2px solid red;
//                     font-weight: 700;
//                     margin     : 0 12px;
//                 }
//             }
//         }
//     }
// }