// Header
// .navbar {
//     .container {
//         background-color: #FFFFFF !important;

//         .navbar-collapse {
//             .navbar-nav {
//                 font-size  : 18px;
//                 line-height: 22px;

//                 .nav-item {
//                     font-weight: 400;

//                     .nav-link {
//                         margin: 0 16px;
//                     }
//                 }

//                 .btn {
//                     background : #FFFFFF;
//                     border     : 2px solid red;
//                     font-weight: 700;
//                     margin     : 0 12px;
//                 }
//             }
//         }
//     }
// }

.section_slider {
    background-color: #F2F6F9;

    .section_conference {
        .section_conference-details {
            .list-home {
                .home_slider {
                    max-width: 100%;
                    position : relative;

                    .right {
                        float : right;
                        width : 50%;
                        height: 595px;

                        @include media-breakpoint-down(lg) {
                            width : 100%;
                            height: 100%;
                        }
                    }

                    .left {
                        @include media-breakpoint-down(lg) {
                            display: none;
                        }

                        position: absolute;
                        top     : 0;
                        left    : 0;
                        width   : 60%;
                        height  : 595px;

                    }
                }

                @include media-breakpoint-down(lg) {
                    .slick-track {
                        height: 900px;
                    }
                }


                .slick-dots {
                    bottom: 10% !important;

                    @include media-breakpoint-down(lg) {
                        bottom: 2% !important;
                    }
                }

                &.slick-slider {
                    margin-bottom: 0px !important;
                }

                .slick-arrow {
                    width     : 50px;
                    height    : 50px;
                    background: rgba(0, 0, 0, 0.5);

                    @include media-breakpoint-down(lg) {
                        top: 20%;
                    }

                    &.slick-next {
                        right: 0px !important;
                    }

                    &.slick-prev {
                        left: 0px !important;
                    }
                }

                .container {
                    .row {
                        padding-top: 80px;

                        @include media-breakpoint-down(lg) {
                            padding-top: 0;
                            height     : 600px;
                        }

                        .img_mb {
                            display: none;

                            @include media-breakpoint-down(lg) {
                                display: block;
                            }
                        }

                        .col-lg-6 {
                            width: 100%;

                            @include media-breakpoint-down(lg) {
                                background-color: #213367;
                                padding-top     : 40px;
                            }

                            .title {
                                @include media-breakpoint-down(lg) {
                                    padding-top: 2px;
                                }
                            }

                            .subtitle {
                                padding-top: 18px;

                                @include media-breakpoint-down(lg) {
                                    padding-top: 2px;
                                }
                            }

                            .description {
                                padding-top: 16px;

                                @include media-breakpoint-down(lg) {
                                    padding-top: 2px;
                                }
                            }

                            .content {
                                padding-top: 16px;

                                @include media-breakpoint-down(lg) {
                                    padding-top: 2px;
                                }
                            }

                            .col-lg-12 {
                                padding: 54px 0 0 0;

                                @include media-breakpoint-down(lg) {
                                    padding-top: 10px;
                                }

                                .btn_conference {

                                    .btn {
                                        display: inline-block;
                                        padding: 10px 12px;
                                    }

                                    .btn-danger {
                                        margin-right: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Section submit theme
.section_summit {
    .container {
        .row {
            .content {
                margin-bottom: 24px;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 48px;
                }


                .summit__content {
                    padding-top: 16px;
                    margin     : 0 auto;
                    font-weight: 700;


                    @include media-breakpoint-up(lg) {
                        width : 810px;
                        height: 56px;
                    }
                }
            }


        }

        .row {
            .col-lg-4 {
                @include media-breakpoint-down(lg) {
                    margin-bottom: 20px;
                }

                .item {
                    .text-box {
                        display    : flex;
                        align-items: center;
                        width      : 365px;
                        height     : 214px;
                        font-weight: 600;
                        font-size  : 25px;

                        @include media-breakpoint-down(lg) {
                            font-size: 20px;
                            height   : 156px;
                        }
                    }
                }

            }
        }
    }
}


// Section Our Speaker
.section_our-speaker {
    background-color: #F2F6F9;

    .container {
        .row {
            .subtitle {
                font-weight   : 700;
                font-size     : 25px;
                padding-top   : 46px;
                padding-bottom: 16px;
            }
        }

        .row {
            .list-person {
                .profile {
                    max-width: 100%;

                    .profile__person {

                        .profile__img {
                            width: 100%;
                        }

                        .profile__content {
                            background-color: #ffff;
                            color           : #333333;

                            .profile__name {
                                font-weight: 700;
                                font-size  : 18px;
                                padding-top: 24px;
                            }

                            .profile__description {
                                font-weight: 400;
                                font-size  : 16px;
                            }

                            .text__more {
                                img {
                                    display: inline;
                                }
                            }
                        }

                        &:hover {
                            box-shadow: 0px 5px 15px rgba(153, 153, 153, 0.15);

                        }
                    }

                }

                .our__content {
                    max-width  : 100%;
                    padding-top: 20px;

                    .our__text {
                        font-weight: 400;
                        font-size  : 16px;
                        line-height: 28px;
                    }

                    .btn {
                        margin-top: 80px;

                        @include media-breakpoint-down(lg) {
                            margin-left : auto;
                            margin-right: auto;
                            margin-top  : 40px;
                        }
                    }
                }
            }

        }
    }
}


//Section Call For Proposals
.section_proposals {
    padding-top  : 78px;
    margin-bottom: 182px;
    position     : relative;

    @include media-breakpoint-down(lg) {
        padding      : 0;
        margin-bottom: 0;
    }

    .section_proposals-content {

        .bg_image {
            @include media-breakpoint-down(lg) {
                display: none;
            }

            .img__proposals {
                position  : absolute;
                top       : 78px;
                right     : 0;
                height    : 100%;
                width     : 40%;
                height    : 100%;
                object-fit: cover;
            }
        }

        .content_proposal {
            position: relative;

            .container {
                .row {
                    .col-lg-7 {
                        .content__proposals {
                            margin-top: 48px;

                            .title_deadline {
                                margin-top   : 24px;
                                margin-bottom: 32px;
                            }

                            @include media-breakpoint-down(lg) {
                                .title_deadline {
                                    padding-bottom: 8px;
                                }
                            }

                        }

                        .img__proposals {
                            display: none;

                            @include media-breakpoint-down(lg) {
                                display: block;
                            }
                        }

                        .btn {
                            margin-top: 32px;

                            @include media-breakpoint-down(lg) {
                                margin: 40px auto
                            }
                        }
                    }

                    .col-lg-5 {}
                }
            }
        }
    }
}


//Section Summit agenda
.section_agenda {
    background: #F2F6F9;

    .container {
        .row {
            .col-lg-12 {
                .agenda__title {
                    margin-top: 48px;
                }

                .btn_main {
                    margin-top: 32px;
                    padding   : 0 auto;

                    .btn-danger {
                        display: inline-block;
                        padding: 10px;
                    }
                }

                @include media-breakpoint-down(lg) {
                    .agenda__title {
                        margin-top: 24px;
                        text-align: justify;
                    }

                    .btn_main {
                        margin-top: 16px;
                        text-align: center;


                    }
                }
            }
        }
    }
}


//Section Teaching Exellence Awards
.section_teaching {
    .container {
        .content {
            margin-top: 48px;

            @include media-breakpoint-down(lg) {
                margin-top: 20px;
                text-align: justify;
            }

            .row {
                flex-direction: row-reverse;

                .col-lg-8 {
                    .teaching_condition {}

                    .title_deadline {
                        padding-top: 36px;
                    }

                    .btn {
                        margin-top: 36px;
                    }

                    @include media-breakpoint-down(lg) {
                        .title_deadline {
                            padding-top  : 0;
                            margin-bottom: 0;
                        }

                        .btn {
                            margin-top   : 18px;
                            margin-bottom: 18px;
                        }
                    }
                }
            }

        }
    }
}


// Section Registration
.section_registration {
    .full_regis {
        position: relative;

        .bg_registration {

            .left {
                width : 50%;
                height: 334px;
            }

            .right {
                position: absolute;
                top     : 0;
                right   : 0;
                height  : 334px;
                width   : 60%;

                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;
                }
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }

        }

        .content_registration {
            @include media-breakpoint-down(lg) {
                background-color: #C52128;
                position        : relative;
            }

            position: absolute;
            top     : 0;
            right   : 0;
            width   : 100%;

            .container {
                .row {
                    .col-lg-6 {
                        @include media-breakpoint-down(lg) {
                            text-align: center !important;
                        }

                        .registration_title {
                            padding-top   : 16px;
                            padding-bottom: 8px;
                            font-weight   : 400;
                            font-size     : 16px;
                            line-height   : 28px;

                            @include media-breakpoint-down(lg) {
                                padding-top: 0;
                            }
                        }

                        img {
                            display: none;

                            @include media-breakpoint-down(lg) {
                                display      : block;
                                border-radius: 25px;
                                margin-bottom: 24px;
                            }
                        }

                        .btn {
                            padding  : 0;
                            min-width: 337px;

                            @include media-breakpoint-down(lg) {
                                width: 100%;

                                a {
                                    margin-bottom: 24px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }


}



//Section Considerations
.section_considerations {
    .container {
        .row {
            .col-lg-12 {
                @include media-breakpoint-down(lg) {
                    .main__title {
                        margin-bottom: 0;
                    }
                }

                .consider__title {
                    font-style   : normal;
                    font-weight  : 400;
                    font-size    : 16px;
                    padding-top  : 48px;
                    margin-bottom: 0;

                    @include media-breakpoint-down(lg) {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}



// footer {
//     background: #213367;

//     .footer__top {
//         padding-top: 80px;

//         .container {
//             .row {
//                 .col-lg-3 {
//                     ul {
//                         li {
//                             padding: 8px 0;

//                             a {
//                                 text-decoration: none;
//                                 line-height    : 24px;
//                                 font-size      : 16px;
//                             }
//                         }
//                     }

//                 }
//             }
//         }
//     }

//     .footer__bottom {
//         .container {
//             p {
//                 padding-top   : 18px;
//                 padding-bottom: 44px;
//             }
//         }
//     }
// }